Pasadena OPC workflow
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "750ffe6d-a249-4df4-9ff0-40f7782aa716",
              "name": "sermon_audio",
              "value": "={{ $json.enclosure.url }}",
              "type": "string"
            },
            {
              "id": "25c73711-ccd2-42c8-93d6-3b2205113de2",
              "name": "speaker_name",
              "value": "={{ $json.itunes.author }}",
              "type": "string"
            },
            {
              "id": "0601093f-7f86-4cb2-98a2-1e449953a20a",
              "name": "sermon_date",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "6115a61b-2781-4fd6-b0ae-bb7ffb8aa5a7",
              "name": "sermon_title",
              "value": "={{ $json.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "01df7dc6-20c6-4678-af43-4caf4c036045",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json['sermon_audio'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        0
      ],
      "id": "494823c0-0aa5-400d-a457-3f8b1e5e24f9",
      "name": "Download Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        0
      ],
      "id": "e0375914-8890-430f-b932-fdae5ac8287e",
      "name": "Groq Whisper",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Yu6y3cbhRXN1yIIV",
          "name": "Header Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lukecotta2025.mystagingwebsite.com/wp-json/wp/v2/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\ntitle: $(\"Edit Fields\").item.json.sermon_title,\ncontent: \"## Summary\\n\\n\" + $(\"Groq Summary\").item.json.choices[0].message.content + \"\\n\\n## Full Sermon\\n\\n\" + $(\"Paragraph breaker\").item.json.text,\nexcerpt: $(\"Groq Summary\").item.json.choices[0].message.content,\nstatus: \"publish\",\nacf: {\nspeaker_name: $(\"Edit Fields\").item.json.speaker_name,\nsermon_audio: $(\"Edit Fields\").item.json.sermon_audio,\nsermon_date: $(\"Edit Fields\").item.json.sermon_date,\nsermon_summary: $(\"Groq Summary\").item.json.choices[0].message.content\n}\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        0
      ],
      "id": "34400067-d4cb-4675-a6c4-288f8b861d6b",
      "name": "Wordpress Post",
      "credentials": {
        "wordpressApi": {
          "id": "Txzl1Y62LEf5Xh7E",
          "name": "Luke WordPress Account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyWeek",
              "minute": 15
            }
          ]
        },
        "feedUrl": "https://feeds.buzzsprout.com/731180.rss"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b0f275c4-de75-40ab-9ddd-61ffebbda81e",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.item;\n\n// Move audio file from `data` to `file`\nitem.binary = item.binary || {};\nitem.binary[\"file\"] = { ...item.binary[\"data\"] };\n\n//Set correct metadata\nitem.binary[\"file\"].fileName = \"sermon.mp3\";\nitem.binary[\"file\"].mimeType = \"audio/mpeg\";\n\n// Remove the original binary data to avoid sending extra\ndelete item.binary[\"data\"];\n\nreturn item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        0
      ],
      "id": "967c1288-b786-473c-8728-9f777b21123c",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\", \n      \"content\": \"You are an expert at analyzing Christian sermons. Focus on extracting the pastor's main points, key arguments, and practical applications rather than just general themes.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Summarize this sermon in exactly 200 words, including scripture and main points:\\n\\n{{ $('Groq Whisper').item.json.text }}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.3\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        0
      ],
      "id": "b0d8ab9e-1de6-42e5-be02-4982fa3465c2",
      "name": "Groq Summary",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Yu6y3cbhRXN1yIIV",
          "name": "Header Auth account 5"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcript = $json.text;\n\nlet formatted = transcript\n  .replace(/\\. Turn with me /g, '.\\n\\nTurn with me ')\n  .replace(/\\. Let's pray/g, '.\\n\\nLet\\'s pray')\n  .replace(/\\. Well, if /g, '.\\n\\nWell, if ')\n  .replace(/\\. See, /g, '.\\n\\nSee, ')\n  .replace(/\\. And the /g, '.\\n\\nAnd the ')\n  .replace(/\\. This being /g, '.\\n\\nThis being ')\n  .replace(/\\. Amen/g, '.\\n\\nAmen')\n  .replace(/Amen\\./g, 'Amen.\\n\\n');\n\nreturn { json: { text: formatted } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "f9d2d686-1844-424c-9d71-56b6b573f45f",
      "name": "Paragraph breaker"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Whisper": {
      "main": [
        [
          {
            "node": "Paragraph breaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Groq Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Summary": {
      "main": [
        [
          {
            "node": "Wordpress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paragraph breaker": {
      "main": [
        [
          {
            "node": "Groq Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  }
}
